.cell {

  .announcement-infos {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;

    .announcement-top {
      display: flex;
      justify-content: space-between;
      padding: 4%;
        .title {
          color: #28ba62;
        }
    }

    .announcement-content {
      margin: 4%;
    }

  }

  .product {
    display: flex;
    margin: 4%;

    ion-img {
      width: 25px;
      height: 25px;
      margin-right: 12px;
    }
  }
}

ion-text {
  color: #383a3e;
}

.announcement-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4%;

  .productor {

    display: flex;
    align-items: center;

    ion-img {

      height: 20px;
      width: 20px;
      margin-right: 8px;
    }
  }
}

hr {
  height: 1px;
  background-color: grey;
}

ion-icon {
  margin-left: 3%;
}
